<div class="sticky-bar">
  <div class="sb-left">
    <div class="sb-img">🪼</div>
    <div>
      <div class="sb-name">JellyFlow™ Levitating Lamp</div>
      <div class="sb-price" id="sticky-price">$69.99 CAD</div>
    </div>
  </div>
  <button class="sb-btn" onclick="document.querySelector('.btn-cart').click()">
    Add to Cart 🛒
  </button>
</div>

{% schema %}
{
  "name": "Sticky ATC Bar"
}
{% endschema %}
