<div class="ticker-wrap">
  <div class="ticker-track">
    {%- for i in (1..8) -%}
      <span class="ticker-item">🔥 {{ section.settings.text_1 }}</span>
      <span class="ticker-item">✨ {{ section.settings.text_2 }}</span>
      <span class="ticker-item">🚚 {{ section.settings.text_3 }}</span>
    {%- endfor -%}
  </div>
</div>
